*{
  margin:0;
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
}
:root{
  font-size: 20px;
}
#app{
  min-height: 100vh;
}

header{
  padding-left:45px;
  display: flex;
  align-items: center;
  background-color: #0f172a;
  color:#f8fafc;
  font-size: 1.6rem;
  font-weight: bold;
  height: 10vh;
  gap:15px;
  box-shadow:1px 1px 4px 0px #475569;
  position: relative;
  z-index: 11;
}
header img{
  filter: invert(100%) sepia(10%) saturate(1937%) hue-rotate(177deg) brightness(101%) contrast(98%);
}
main{
  height: calc(100vh - 10vh);
  display: grid;
  grid-template-columns: 1fr 4fr;
}
nav{
  height: 100%;
  box-shadow:1px 1px 4px 0px #475569;
  background-color: #475569;
}
#content{
  background-color: #f8fafc;
  z-index: 0;
  display: flex;
}
nav{
  padding-top:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.8rem;
}
nav>button:not(.sub-buttons){
  width: 80%;
  height: 5ch;
  font-size: 1.2rem;
  font-weight: bold;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0f172a;
  color: #f8fafc;
  padding: 8px;
  font-size: 1rem;
  border:2px solid #0f172a;
  
  
}
button:hover{
  background-color: #26364b;
}
.sub-buttons{
  background-color: #182d58;
  min-width:50%;
  height: 5ch;
}
#content{
  margin: 5px;
 
}
#item{
  border:3px solid #0f172a;
  border-radius: 5px;
  padding: 10px;
  background-color:#f8fafc;
  width: 90%;
  height: fit-content;
  box-shadow: 1px 2px 4px #0f172a;
  margin:10px auto 40px auto;
  
}
#item button{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
input{
  margin:5px;
  border-radius: 5px;
  border: 1px solid #0f172a;
  height: 5ch;
  font-size: 1rem;
}
label:not(.title), .priority,.main-title{
  font-weight: 600;
}
.priority-conatiner{
  display: flex;
  gap: 1rem;
  margin: 10px 0 10px 0;
 align-items: center;
}
.pointer{
  cursor: pointer;
}
.title{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px;
}
.priority-toggle{
  display: flex;
}
.add-form{
  
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
}
.add-form{
  font-size: 1.3rem;
  
}
.no-container{
  display: grid;
  justify-items: center;
  height: fit-content;
}
.no-container-text{
  display: grid;
  justify-items: start;
  height: fit-content;
}
.no-container>img{
  width: 70%;
  border-radius: 20px;
}
.no{
  font-weight: bold;
  margin: 20px;
  margin-left: 40px;
}
.owl{
  margin-top: 5px;
  
  transition: border-radius 900ms ease-in;
  transition: transform 400ms ease-in-out;
  box-shadow: 2px 5px 9px 0px #0f172a;
}
.owl:hover{
  transform: scale(1.05);
  border-radius: 3px;
}
.deleteBtn{
  margin-bottom: 10px;
  background-color:  rgb(122, 135, 163);
  border:#475569;
  margin-top: 10px;
}
.editBtn{
  margin-bottom: 10px;
  
}
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 20px;
  
}
.card-container>div{
  margin:0px !important;
}
.card{
  transition: transform 200ms ease-in-out;
}
.card:hover{
  transform: scale(1.03);
}
.all-container{
  flex-grow: 1;
  margin: 20px 50px 50px 50px;
  
  
}
.secondary{
  padding: 20px;
  margin-bottom:50px;
  border: 1px solid #0f172a;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #0f172a;
}
.secondary button{
  margin-top: 20px;
}
.secondary:hover{
  background-color: #0f192e;
  color: #f8fafc;
  
}
.secondary:hover button{
  background-color: #575d66;
}
.set-form{
  display: flex;
  gap:1rem;
}
.main-title{
  font-size: 1.4rem;
}
input:focus {
  box-shadow: 1px 1px 1px #0f172a;
}
button{
  box-shadow: 1px 2px 4px #0f172a;
  transition: transform 200ms ease-in-out;
}
button:hover{
  transform: scale(1.03);
}
.subs{
  display: flex;
  gap:1rem
}
.subs button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
button,.secondary,.card{
  cursor: pointer;
}
.priority-toggle img{
  width: 30px;
}
.priority-toggle>div{
  display: flex;
  align-items: center;
  color: rgb(131, 30, 30);
}
